version: "3.8"
services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: semanticsearch_qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    networks:
      - my-network
    restart: unless-stopped

volumes:
  qdrant_storage:
    driver: local

networks:
  my-network:
    driver: bridge